@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --black: black;
    --white: rgb(200, 200, 200);
    --dark-blue: #282a3c;
    --bg-color: #171b22;
    --tint-blue: #61dafb;
    --white-smoke: rgb(200, 200, 200);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.Projects {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    margin-bottom: 10.3rem;
}

.greetings{
    text-align: center;
}

.greetings p{
    color: var(--white-smoke);
}
.greetings h1{
    color: var(--tint-blue);
    font-size: 1.5rem;
    font-weight: 400;
}

.proj-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
    margin-top: 1rem;
    transition: .3s ease-in-out;

}


.proj-sec .proj-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid;
    border-color: var(--tint-blue);
    background-color: var(--dark-blue);
    overflow: hidden;
    transition: .3s ease-in-out;
}

.proj-sec .proj-div h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.proj-div img{
    width: 150%;
    height: 100%;
    transition: .4s ease-in-out;
}
.proj-div:hover img{
    transform: scale(1.1);
}


.proj-div .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--white-smoke));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1.5rem;
    gap: 1rem;
    transform: translateY(100%);
    transition: .4s ease-in-out;
}
.proj-div:hover .info{
    transform: translateY(0);
}

.info a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--white-smoke);
    border-radius: 50%;
}
.info .icon{
    font-size: 1rem;
    color: var(--dark-blue);
}

.info h2{
    font-size: 1.5rem;
}


/* BREAK POINTS */
@media(max-width: 900px){
    .proj-sec .proj-div{
        height: 230px;
        width: 300px;
    }
}

@media(max-width: 670px){
    .proj-sec{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 520px){
    .proj-sec .proj-div{
        height: 280px;
        width: 350px;
    }
}

@media(max-width: 400px){
    .proj-sec .proj-div{
        width: 240px;
        height: 200px;
    }
} 
