@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* html {
    scroll-behavior: smooth; 
} */

html::-webkit-scrollbar {
    display: none; 
}
:root{
    --black: black;
    --white: white;
    --dark-blue: #282a3c;
    --bg-color: #171b22;
    --tint-blue: #61dafb;
    --white-smoke: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
}


.main{
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.contents{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    /* margin-bottom: 20%; */
    /* margin-top: 3.45rem; */
}

.main:target{
    scroll-margin-top: 3.45rem;
}